.navbar {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    background-color: silver;

}
.navbar-top {
    flex: 2;
    background-color: white;
    display: inline-flex;
    gap: 25px;
}
.navbar-top img {
    width: 90px;
    border-radius: 50%;

}
.navbar-bottom {
    flex: 1;
 
}
.navbar-bottom  ul {
    list-style-type: none;
    display: flex;
    margin-top: 0px;
    justify-content: center;
    gap: 30px;

    
   
  
}
.navbar-bottom  ul li {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}
.navbar-bottom  ul li:hover {
    background-color: blue;
    padding: 8px 15px;
 

}
.navbar-top SVG {
    font-size: 40px;
}
.x {
    color: black;
}
.instagram {
    color: #e1306c;
}
.whatsapp {
    color: green;
}
.youtube {
    color: red;
}